ASK/.DS_Store
ASK.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ASK.xcodeproj/project.xcworkspace/xcuserdata/rahulsingh.xcuserdatad/UserInterfaceState.xcuserstate
ASK.xcodeproj/xcuserdata/rahulsingh.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
